<footer class="footer">
    <section>
        <h5 class="footer_h4">Brands</h5>
        <nav>
            <ul class="footer_nav_ul">
                <li>
                    <a href="" class="footer_nav_a">Fender</a>
                </li>
                <li>
                    <a href="" class="footer_nav_a">Gibson</a>
                </li>
                <li>
                    <a href="" class="footer_nav_a">Jockson</a>
                </li>
                <li>
                    <a href="" class="footer_nav_a">Ibanez</a>
                </li>
            </ul>
        </nav>
    </section>
    <section>
        <h5 class="footer_h4">Information</h5>
        <nav>
            <ul class="footer_nav_ul">
                <li>
                    <a href="" class="footer_nav_a">Blog</a>
                </li>
                <li>
                    <a href="" class="footer_nav_a">Delivery</a>
                </li>
                <li>
                    <a href="" class="footer_nav_a">About us</a>
                </li>
            </ul>
        </nav>
    </section>

    <section>
        <h5 class="footer_h4">Contact</h5>
        <nav>
            <ul class="footer_nav_ul">
                <li>
                    <a href="https://maps.app.goo.gl/wKjYsmrFWqZ7gAoWA" class="footer_nav_a" target="_blank">Tbilisi, str, Rustaveli 24</a>
                </li>
                <li>
                    <a href="tel:+322567898" class="footer_nav_a">+(32)2 56 78 98</a>
                </li>
                <section class="footer_section_social">
                    <a href="https://www.facebook.com/" class="social_link" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://www.whatsapp.com/" class="social_link" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="https://www.instagram.com/" class="social_link_inst" target="_blank">
                        <img src="./images/home_images/basil_instagram-solid.svg" alt="">
                    </a>
                </section>
            </ul>
        </nav>
    </section>
</footer>
