<div class="reviewDiv">

    <section class="reviewSection">
        <form action="" class="reviewForm">
            <input type="text" placeholder="name and surname">
            <select class="form-control">
                <option value="">Choose Product</option>
                <option value="georgia">PC</option>
                <option value="USA">Laptop</option>
                <option value="USA">Mobile phone</option>
              </select>
              <textarea name="" id="" placeholder="Write what did you like here..."></textarea>
              <textarea name="" id="" placeholder="Write what did not you like here..."></textarea>
              <button type="submit">Submit Review</button>
        </form>
    
    </section>
    
    
    <section class="reviewApprovedSection">
    
    </section>
</div>