<div class="reviewDiv">

    <section class="reviewSection">
        <form class="reviewForm" [formGroup]="registerForm" (submit)="upload()" *ngIf="FormVisible">
            <div>
                <h2>Customer Review Form</h2>
                <h6>We value your feedback. please take a moment to review your experience with us.</h6>
            </div>
            <div class="NameEmailDiv">
                <!-- fullname -->
                <input type="text" placeholder="Name and Lastname" formControlName="fullName" class="emailNameStyles">
                <p class="error" *ngIf="registerForm.controls.fullName.touched && registerForm.controls.fullName.errors?.['required']">
                    This field is required.
                </p>
    
                <p class="error" *ngIf="registerForm.controls.fullName.touched && registerForm.controls.fullName.errors?.['minlength']">
                    Name must be at least 3 characters long.
                </p>
    
                <p class="error" *ngIf="registerForm.controls.fullName.touched && registerForm.controls.fullName.errors?.['maxlength']">
                    Name must be maximum 20 characters long.
                </p>
    
                <!-- email -->
                <input type="email" placeholder="Your Email" formControlName="Email" class="emailNameStyles">
                <p class="error" *ngIf="registerForm.controls.Email.touched && registerForm.controls.Email.errors?.['required']">
                    This field is required.
                </p>
            </div>
            
            <!-- number -->
            <input id="numberId" type="number" placeholder="Your Phone Number" formControlName="Number" class="numberStyles">
            <label for="numberId">We might contact you for further clarifications.</label>
            <p class="error" *ngIf="registerForm.controls.Number.touched && registerForm.controls.Number.errors?.['required']">
                This field is required.
            </p>
            <p class="error" *ngIf="registerForm.controls.Number.touched && registerForm.controls.Number.errors?.['pattern']">
                Must be a valid number.
              </p>
            
            <!-- product selection -->
            <select class="form-control" formControlName="Product">
                <option value="" disabled selected>Choose Product</option>
                <option value="PC">PC</option>
                <option value="Laptop">Laptop</option>
                <option value="Mobile phone">Mobile phone</option>
            </select>
            <p class="error" *ngIf="registerForm.controls.Product.touched && registerForm.controls.Product.errors?.['required']">
                Please choose the product
            </p>

            <!--  Review-->
            <div formGroupName="Review" class="ReviewDivStyles">
                
                <!-- score -->
                <div>
                    <h4>Overall Experience</h4>
                    <p>Rate your overall experience with us</p>
                    <div class="score-checkboxes">
                        <button type="button" class="buttonScore" *ngFor="let button of buttons; let i = index" [ngClass]="{ 'active-score': selectedScore === i + 1 }"
                        (click)="setScore(i + 1)">{{ i + 1 }}</button>
                    </div>
                </div>

    
                <!-- stars -->
                <div class="starsMainDivStyles">
                    <h4>Quality of Service</h4>
                    <p>Rate the quality of service provided</p>
                    <div class="starsDivStyles" formArrayName="Stars">
                        <!-- @for (star of stars; track $index) {
                            <i class="bi bi-star  starStyle" *ngFor="let star of stars" [formControlName]="$index" ></i>   
                            } -->
                        <!-- <i class="bi bi-star  starStyle" *ngFor="let star of stars"></i>      -->
                    </div>
                </div>
    
                <!-- <div>
                    <h4>Would you recommend us to your Friend?</h4>
                    <p>Do you like our product enough to recommend it?</p>
                    <button class="likeButton">
                        <p>Yes</p>
                        <i class="bi bi-hand-thumbs-up"></i>
                    </button>
                    <button class="dislikeButton">
                        <p>No</p>
                        <i class="bi bi-hand-thumbs-down"></i>
                    </button>
                </div> -->
    
                <textarea formControlName="Liked" name="" id="" placeholder="Write what did you like here..." class="likedTextArea"></textarea>
            </div>

            <div class="termsAndCondsDiv">
                <input formControlName="termsAndConds" type="checkbox" name="">
                <label>I agree that my review can be published on the website</label>
            </div>
            <p class="error" *ngIf="registerForm.controls.termsAndConds.touched && registerForm.controls.termsAndConds.errors?.['required']">
                You must accept the terms and conditions to upload the review
            </p>

            <button class="submitButton" type="submit">Submit Review</button>
        </form>
    
        
    </section>
    
    <section class="reviewApprovedSection" *ngIf="updated">
        <button (click)="viewReview = !viewReview">Thank you for sharing your experience. Click here to see your review</button>
        <section *ngIf="viewReview">
                <p>product name: {{Product}}</p>
                <p>what you liked: {{Liked}} </p>
                <p>score: {{selectedScore}} </p>
        </section>
    </section>
</div>