.reviewDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    position: relative;
    min-height: 650px;
    top: 100px;
    padding: 100px;
    background-color: rgba(255, 0, 0, 0.549);

}

.reviewSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reviewForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    padding: 30px;
    border-radius: 30px;
    width: 500px;

    background-color: white;
}

.NameEmailDiv {
    display: flex;
    justify-content:space-between;

    column-gap: 45px;
}

.emailNameStyles {
    padding: 10px;
    width: 50%;
    height: 40px;
}

.numberStyles {
    padding: 10px;
    width: 100%;
    height: 40px;
}

.reviewApprovedSection{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: gray;
    color: rgb(229, 220, 221);
}

.termsAndCondsDiv{
    display: flex;
    column-gap: 5px;
}

.error {
    color: red;

}

.starsMainDivStyles {
    display: flex;
    flex-direction: column;
    // row-gap: 5px;
}

.starsDivStyles {
    display: flex;
    column-gap: 15px;
}

.starStyle {
    cursor: pointer;
    font-size: 30px;
}

.buttonScore:hover {
    background-color: green;

}

.buttonScore {
    background-color: lightgray;
    border: 1px solid #ccc;
    margin: 2px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .buttonScore.active-score {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
  }
  

.starStyle:hover {
    color: gold;
}

.starClickedStyle {
    color: gold;
}

.likeButton:hover {
    background-color: green;

}

.dislikeButton:hover {
    background-color: red;
}

.likedTextArea {
    width: 100%;
}

.submitButton {
    width: 150px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.ReviewDivStyles {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}