.reviewDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    position: relative;
    min-height: 650px;
    top: 100px;
    padding: 100px;
    background-color: rgba(255, 0, 0, 0.549);

}

.reviewSection {
    width: 100%;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(47, 125, 94);
}

.reviewApprovedSection{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: rgb(229, 220, 221);
}

.termsAndCondsDiv{
    display: flex;
    column-gap: 5px;
}

.error {
    color: red;

}