<div class="chatDiv">

    <div class="messages">
        <div *ngFor="let msg of receivedMassages" 
            [ngClass]="msg.sender ===  senderId ? 'message-item sender2': 'message-item sender1'">

             
            <span >{{msg.userName}}: {{ msg.text }} </span>
        </div>
    </div>
    
       
    <div class="chat-container container">
        <div class="chat-box">
            <input type="text" [(ngModel)]="text" (keyup.enter)="sentMassage()"  placeholder="Type a message...">
            <button (click)="sentMassage()">Send</button>
        </div>
        
    </div>
</div>
